.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin
"Scrips Python/"
FixYaml.class
FixYaml.java
DOCS_EN/
DOCS_ES/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scripts, Reports & Backups ###
comment_cleaner.py
comment_cleanup.py
COMMENT_CLEANUP_REPORT.md
REFACTOR_REPORT.md
.cleanup-backup/
Test.kt
gradle/wrapper/
